.portfolio{
    @apply py-10;
    background: #f6f6f6;
}
.portfolioTitle{
    @apply  tracking-wide text-center text-3xl mb-5 font-bold;
}
.portfolioText{
    @apply text-center text-lg mb-5;
}
.portfolioFLex{
    @apply flex flex-wrap justify-between p-10;
    
}
.hr{
    display: block;
    max-width: 500px;
    height: 1px;
    border: none;
    @apply bg-gray-300 mx-auto mb-6;
}
.item{
    @apply  m-3 bg-white rounded shadow-md;
    width: calc(100% / 4.3);
}
.itemBox{
    @apply p-4 text-center;
}
.title{
    @apply mb-4;
}
.text{
    @apply text-orange;
}
.button{
    @apply flex justify-center;
    button{
        @apply bg-orange p-4 rounded text-white hover:bg-red; 
    }
}