.menu {
	@apply flex xl:container md:container sm:container lg:container  mx-auto container  justify-between items-center  p-3 animate-fade;
    li{
		&:hover{
			a{
				color: white;
			}
		}
        @apply p-2 hover:bg-orange   transition-all;
        border-radius: 4px;
    }
	.active{
		display: block;
	}
	border-radius: 4px;
	li {
		@apply m-2;
		a {
			@apply flex items-center;
			span{
				@apply ml-1;
			}
		}
	}
}
.item {
	@apply flex items-center font-normal text-lg;
 
}
.links {
	@apply text-gray-700;
 
}

.active {
	@apply bg-orange p-2;
    border-radius: 4px;
	a {
		color: white;
	}
}
.itemsMenu{
	@apply flex;
}

.button{
	@apply border-2 px-3 py-2 bg-orange text-white rounded hover:bg-red transition-all;
}