.menu {
	position: absolute;
	z-index: 55;
	bottom: -40px;
	@apply container  flex justify-between items-center bg-gray-700 p-3 animate-fade;
    li{
        @apply p-2 hover:bg-orange hover:text-white transition-all;
        border-radius: 4px;
    }
	border-radius: 4px;
	li {
		a {
			@apply flex flex-col items-center;
		}
	}
}
.item {
	@apply flex items-center font-normal text-lg;
 
}
.links {
	@apply text-white;
 
}
.icon {
	@apply mr-2 text-orange;
}
.active {
	@apply bg-orange p-2;
    border-radius: 4px;
	a {
		color: white;
	}
}
