.servisesFLex {
	@apply flex-wrap flex justify-around;
}
.servisesTitle {
	@apply text-center text-3xl mb-5 font-bold;
	text-transform: uppercase;
}
.servises {
	@apply px-5  pt-10 pb-10 bg-grey;
}
.item {
	width: calc(100% / 3.5);
	@apply bg-white shadow-lg mt-5  border-2 border-gray-300  flex items-center justify-center flex-col p-5 rounded;
	@media (max-width: 991px) {
		width: calc(1140px / 3);
	}
	@media (max-width: 576px) {
		width: calc(100%);
		margin: 20px 10px;
	}
}
.itemImage {
	@apply w-24 h-24 flex items-center justify-center rounded-full bg-orange mb-3;
}
.seeServises {
	@apply text-center mt-10;
	.linkButton {
		@apply inline-block mt-3 bg-orange text-white p-4 rounded hover:bg-red;
	}
}

