.dover {
	background-image: url('/jpg/bg1.jpg');
	background-position: 50% bottom;
	background-repeat: no-repeat;
	background-color: #f6f6f6;
	padding: 70px 0 260px;
}
.doverTitle {
	@apply text-center text-3xl mb-5 font-bold;
}
.doverFLex {
	@apply flex-wrap inline-flex justify-around;
}
.item{
	@apply w-3/12 flex bg-white p-5 rounded m-2;
}
.itemImage{
	@apply mr-3;
}
.text{
	@apply text-base;
}